# Authentication (Microsoft Entra ID)
AUTH_MICROSOFT_ENTRA_ID_ID=
AUTH_MICROSOFT_ENTRA_ID_SECRET=
AUTH_MICROSOFT_ENTRA_ID_TENANT_ID=
AUTH_SECRET=

# Database
DATABASE_URL=

# App URLs
NEXT_PUBLIC_TENANT_APP_URL=http://localhost:3000
NEXT_PUBLIC_ADMIN_APP_URL=http://localhost:3001
NEXT_PUBLIC_WEB_URL=http://localhost:3002

# Microsoft Dynamics 365
DYNAMICS_365_URL=
DYNAMICS_365_CLIENT_ID=
DYNAMICS_365_CLIENT_SECRET=
